@import "~bootstrap/scss/bootstrap";

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.main_page {
  background: #b0c4de33;
  height: 100%;
}

.note {
  display: flex;
  align-items: center;
  justify-content: space-between;

  strong {
    margin-right: 1rem;
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  animation: showModal .5s;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal_content {
    background: #fff;
    border-radius: 5px;
    padding: 20px;
  }

  .modal_header {
    color: #117a8b;
    font-weight: bold;
    border-bottom: 1px solid #10707f;
    margin: -20px -20px 20px;
    padding: 6px 20px 6px;
  }
}

@keyframes showModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.error-msg {
  font-size: 12px;
  color: rgba(220, 53, 69, 0.9);
  margin-top: 4px;
  margin-left: 14px;
}

.sidebar .item-active {
  background-color: #dae0e5;
}